*{
    margin: 0 !important;
    padding: 0 !important;
}

#div1{
    background-image: url(img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100%;
}

#div2{
    border: solid black 5px;
    height: 10vh;
    width: 100%;
}

#div3{
    background-color: aquamarine;
    height: 50vh;
    width: 100%;
}

#select{
    width: 14rem;
    height: 2.5rem;
}

.input {
    height: 2.5rem;
}

.parrafo{
    height: 30px !important;
}

#grafica {
    background: aquamarine;
    width: 500px;
    min-height: 500px;
}