*{
    margin: 0 !important;
    padding: 0 !important;
}

#div1{
    height: 40vh;
    width: 100%;
}

#div2{
    height: 10vh;
    width: 100%;
}

#div3{
    height: 50vh;
    width: 100%;
}

#select{
    width: 14rem;
    height: 2.5rem;
}

.input {
    height: 2.5rem;
}

.parrafo{
    height: 30px !important;
}